@media all and (min-width: 480px) {
    .ChangePassword {
        padding: 60px 0;
    }

    .ChangePassword form {
        margin: 0 auto;
        max-width: 320px;
    }
}
.password-change{
    background-color: #682b25 !important;
    border-color: #682b25 !important;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
}
.password-change:hover{
    background-color: #5b320f !important;
    border-color: #5b320f !important;
}