@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.Login form a {
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
}
.Custom-login-button{
    background-color: #1a1823 !important;
    border-color: #1a1823 !important;
}
.Custom-login-button:hover{
    background-color: #32333a !important;
    border-color: #32333a !important;
}