/* Home.css */

/* Laptop Screen Styles */
.lander h1 {
    font-size: 3rem;
  }
  
  .custom-login-button,
  .custom-signup-button {
    font-size: 1.3rem;
    padding: 8px 16px;
  }
  
  .custom-login-button {
    background-color: #1a1823;
    border-color: #1a1823;
  }
  
  .custom-login-button:hover {
    background-color: #32333a;
    border-color: #32333a;
  }
  
  .custom-signup-button {
    background-color: #763f25e3;
    border-color: #763f25e3;
  }
  
  .custom-signup-button:hover {
    color: #fff !important;
    background-color: #5b320f !important;
    border-color: #5b320f !important;
  }
  
  /* Media Queries for Phone Screens */
  @media (max-width: 767px) {
    .lander h1 {
      font-size: 4rem; /* Increase the font size for the 'Scratch' heading on phone screens */
    }
  
    .custom-login-button,
    .custom-signup-button {
      font-size: 1.3rem; /* Set the same font size as laptop screens */
      padding: 8px 16px; /* Set the same padding as laptop screens */
      display: block; /* Display the buttons one above another on phone screens */
      margin-bottom: 10px; /* Add a small bottom margin between the buttons on phone screens */
    }
  }
  