.Notes form textarea {
    height: 300px;
    width:  100%;
    font-size: 1.5rem;
}

.saveBtn {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(to bottom, #12414c, #0c292f);
    border-color: #12414c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.saveBtn:hover {
    background: linear-gradient(to bottom, #0c292f, #05171b);
    border-color: #0c292f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2);
}
.customDel {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(to bottom, #dc3545, #bb2c3c);
    border-color: #dc3545;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .customDel:hover {
    background: linear-gradient(to bottom, #bb2c3c, #9a2430);
    border-color: #bb2c3c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2);
  }
  .attachment-image {
    max-width: 300px; 
    max-height: 300px; 
  }
  