.Settings {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 480px;
  }
  
  .Settings .LoaderButton {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
  }
  
  .Settings .LoaderButton:first-child {
    margin-bottom: 15px;
  }
  
  .customEmail {
    font-family: 'Kanit', sans-serif;
    background-color: #1a1823 !important;
    border-color: #1a1823 !important;
    color: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
  }
  
  .customEmail:hover {
    background-color: #32333a !important;
    border-color: #32333a !important;
  }
  
  .customPassword {
    font-family: 'Kanit', sans-serif;
    background-color: #763f25e3;
    border-color: #763f25e3;
    color: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
  }
  
  .customPassword:hover {
    background-color: #5b320f;
    border-color: #5b320f;
  }
  