@media all and (min-width: 480px) {
    .Signup {
        padding: 60px 0;
    }

    .Signup form {
        margin: 0 auto;
        max-width: 320px;
    }
    .custom{
        font-weight: 600;
    }
}

/* Signup.css */

.custom-signup-button {
    font-family: 'Kanit', sans-serif;
    background-color: #682b25    !important;
    border-color: #682b25    !important;
  }
  
  .custom-signup-button:hover {
    background-color: #48290d !important;
    border-color: #48290d !important;
  }
  