/* App.css */

.navbar {
  background-color: rgba(0, 0, 0, 0.3) !important;
  /* Translucent black background */
}

.navbar-brand,
.nav-link {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2rem;
  color: #ddd8d8 !important;
  /* Set the text color to white */
}

.nav-link:hover {
  color: #ffffff !important;
  /* Set the text color on hover */
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 1.4rem;
  /* Adjust the desired font size */
}

.navbar-curved {
  border-radius: 10px;
}

.navbar .nav-link.active {
  color: #ffffff !important;
  /* Set the text color for the active element */
  /* Set a darker background color for the active element */
}
