.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 50px;
  margin: 0 auto;
}

.navbar-brand,
.nav-link {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2rem;
  color: #ddd8d8 !important;
}

.nav-link:hover {
  color: #ffffff !important;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 1.3rem;
}

.navbar-curved {
  border-radius: 8px;
}

.navbar .nav-link.active {
  color: #ffffff !important;
}
